.how-it-works__label {
    margin-bottom: 20px;
}

.how-it-works__title {
    max-width: 315px;
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    letter-spacing: -1.4px;
}

.how-it-works__subtitle {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
}

.how-it-works__list {
    padding-left: 84px;
    margin-bottom: 20px;
}

.how-it-works__list-item {
    position: relative;
}

.how-it-works__list-item::before {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: calc(100% + 24px);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.how-it-works__list-item--puzzle::before {
    background-image: url("../images/puzzle.png");
}

.how-it-works__list-item--schema::before {
    background-image: url("../images/schema.png");
}

.how-it-works__list-item--rocket::before {
    background-image: url("../images/rocket.png");
}

.how-it-works__list-item--box::before {
    background-image: url("../images/box.png");
}

.how-it-works__list-item:not(:last-of-type) {
    margin-bottom: 28px;
}

.how-it-works__image {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .how-it-works {
        position: relative;
    }

    .how-it-works__title {
        margin-bottom: 118px;
        max-width: 400px;
    }

    .how-it-works__subtitle {
        font-weight: 400;
        font-size: 28px;
        line-height: 29px;
        letter-spacing: -1.4px;
    }

    .how-it-works__list {
        margin-bottom: 0;
        padding-left: 128px;
    }

    .how-it-works__list-item {
        max-width: 500px;
    }

    .how-it-works__list-item:before {
        width: 75px;
        height: 75px;
        right: calc(100% + 40px);
    }

    .how-it-works__image {
        position: absolute;
        top: 0;
        right: -32px;
        width: 420px;
    }
}

@media screen and (min-width: 1440px) {
    .how-it-works__title {
        margin-bottom: 104px;
        max-width: 680px;
    }

    .how-it-works__subtitle {
        margin-bottom: 15px;
    }

    .how-it-works__image {
        right: 0;
        width: 490px;
    }
}