.layout {
  min-height: 100vh;
  background-color: #151515;
}

.layout__header {
  background-color: #cacaca;
}

.layout__main {
  background-color: #cacaca;
}

.layout__footer {
  background-color: transparent;
}

.layout__content {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 1024px) {
  .layout__content {
    padding-left: initial;
    padding-right: initial;
    margin-left: auto;
    margin-right: auto;
  }
  .layout__content--primary,
  .layout__content--secondary {
    max-width: 960px;
  }
}

@media screen and (min-width: 1440px) {
  .layout__content--primary,
  .layout__content--secondary {
    max-width: 1280px;
  }
}

@media screen and (min-width: 2560px) {
  .layout__content--primary {
    max-width: 2280px;
  }
  .layout__content--secondary {
    max-width: 1522px;
  }
}
